<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Labeling Tool</title>
  </head>
  <body>
    <h1>Image Labeling Tool</h1>
    <form method="POST" action="/navigation">
      <input type="submit" name="previous" value="Previous" />
      <input type="submit" name="next" value="Next" />
      <input type="submit" name="latest-labeled" value="Latest Labeled" />
      <input
        type="hidden"
        id="current-image-index"
        name="current_image_index"
        value="{{current_image_index}}"
      />
    </form>

    <p>
      Current image name: {{image.split("/")[-1]}} | {% if labeled %}
      <span
        style="
          background-color: rgb(63, 196, 72);
          color: white;
          font-weight: bold;
          padding-left: 3px;
          padding-right: 3px;
        "
        >Have been labeled</span
      >
      {% else %}
      <span
        style="
          background-color: red;
          color: white;
          font-weight: bold;
          padding-left: 3px;
          padding-right: 3px;
        "
        >Haven't been labeled</span
      >
      {% endif %} | Progress: {{current_image_index+1}}/{{total}}
    </p>

    <p style="font-size: large">Prompt: {{prompt}}</p>

    <div>
      <img
        id="current-real-image"
        src="{{ real_image }}"
        alt="Real Image"
        width="385"
      />
      <img
        id="current-mask-image"
        src="{{ mask_image }}"
        alt="Mask Image"
        width="385"
      />
      <img id="current-image" src="{{ image }}" alt="Image" width="385" />
    </div>
    <div>
      <form method="POST" action="/submit" style="font-size: larger">
        <label style="margin: 10px; display: block"
          ><input type="checkbox" name="weird_shadow" /> Weird Shadow</label
        >
        <label style="margin: 10px; display: block"
          ><input type="checkbox" name="floating_product" /> Floating
          Product</label
        >
        <label style="margin: 10px; display: block"
          ><input type="checkbox" name="illogical" /> Illogical</label
        >
        <label style="margin: 10px; display: block"
          ><input type="checkbox" name="product_extend" /> Product Extend</label
        >
        <label style="margin: 10px; display: block"
          ><input type="checkbox" name="product_hole_issue" /> Product Hole
          Issue</label
        >
        <label style="margin: 10px; display: block"
          ><input type="checkbox" name="background_prompt_not_match" />
          Background and Prompt don't match</label
        >
        <label style="margin: 10px; display: block"
          >Aesthetic Score (lowest 1 - highest 10):
          <input
            type="number"
            name="aesthetic_score"
            min="1"
            max="10"
            required
          />
        </label>
        <input
          type="hidden"
          id="current-image-index"
          name="current_image_index"
          value="{{current_image_index}}"
        />
        <div style="margin-top: 10px; margin-bottom: 10px; margin-left: 10px">
          <input type="submit" value="Save and Next" style="padding: 10px" />
        </div>
      </form>
    </div>
  </body>
</html>
