<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Labeling Tool</title>
  </head>
  <body>
    <h1>Image Labeling Tool</h1>
    <form method="POST" action="/navigation" style="margin-bottom: 10px">
      <input type="submit" name="previous" value="Previous" />
      <input type="submit" name="next" value="Next" />
      <input type="submit" name="latest-labeled" value="Latest Labeled" />
      <input type="submit" name="first-image" value="First Image" />
      <input type="submit" name="last-image" value="Last Image" />
      <input
        type="hidden"
        id="current-image-index"
        name="current_image_index"
        value="{{current_image_index}}"
      />
    </form>

    <form method="POST" action="/download-json">
      <input type="submit" name="download-json" value="Download JSON" />
    </form>

    <p>
      Current image name: {{image.split("/")[-1]}} | {% if labeled %}
      <span
        style="
          background-color: rgb(63, 196, 72);
          color: white;
          font-weight: bold;
          padding-left: 3px;
          padding-right: 3px;
        "
        >Have been labeled</span
      >
      {% else %}
      <span
        style="
          background-color: red;
          color: white;
          font-weight: bold;
          padding-left: 3px;
          padding-right: 3px;
        "
        >Haven't been labeled</span
      >
      {% endif %} | Progress: {{current_image_index+1}}/{{total}}
    </p>

    <p style="font-size: large">Prompt: {{prompt}}</p>

    <div style="display: flex; justify-content: flex-start">
      <img id="current-image" src="{{ image }}" alt="Image" />
      <div style="border: solid black 1px; padding: 5px; margin-left: 10px">
        <h3>Overall Image Realistic Score</h3>
        <table style="font-size: large">
          <tr>
            <td>
              1 (Not Realistic): The image has severe flaws and is easily
              identifiable as non-realistic.
            </td>
          </tr>
          <tr>
            <td>
              2 (Barely Realistic): The image has multiple flaws but could pass
              as a low-quality or stylized representation of reality.
            </td>
          </tr>
          <tr>
            <td>
              3 (Somewhat Realistic): The image is plausible at a glance, with
              some aspects that may not hold up to scrutiny.
            </td>
          </tr>
          <tr>
            <td>
              4 (Very Realistic): The image is very convincing, with any flaws
              being minor and requiring close inspection to identify.
            </td>
          </tr>
          <tr>
            <td>
              5 (Indistinguishable from Reality): The image is virtually
              indistinguishable from a high-quality photograph; any flaws are
              imperceptible.
            </td>
          </tr>
        </table>
        <h3>Overall Image Aesthetic Score</h3>
        <table style="font-size: large">
          <tr>
            <td>
              1 (Poor Aesthetics): The aesthetic elements are severely flawed
              and do not contribute positively to the overall appeal. The image
              lacks any discernible aesthetic qualities.
            </td>
          </tr>
          <tr>
            <td>
              2 (Below Average Aesthetics): The image has multiple aesthetic
              flaws and falls short of creating a visually pleasing or engaging
              experience. Aesthetic elements are present but are poorly
              executed.
            </td>
          </tr>
          <tr>
            <td>
              3 (Average Aesthetics): The image is aesthetically acceptable,
              with some pleasing elements, but overall, it lacks a strong visual
              impact. There is room for improvement in the arrangement and
              execution of aesthetic features.
            </td>
          </tr>
          <tr>
            <td>
              4 (Good Aesthetics): The image displays well-executed aesthetic
              elements that contribute positively to the overall visual appeal.
              A viewer would find the image visually pleasing, with minor areas
              for enhancement.
            </td>
          </tr>
          <tr>
            <td>
              5 (Excellent Aesthetics): The image is exceptional in its
              aesthetic qualities, demonstrating a high level of creativity,
              skill, and attention to detail. A viewer would find the image
              visually captivating, with virtually no room for improvement.
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div>
      <form
        method="POST"
        action="/submit"
        style="font-size: larger; display: flex"
      >
        <div style="width: 600px">
          <label style="margin: 10px; display: block"
            ><input type="checkbox" name="product_hole_issue" {{"checked" if labeled_data["product_hole_issue"] else ""}}/> Product Hole
            Issue</label
          >
          <label style="margin: 10px; display: block"
            >Overall Image Realistic Score (lowest 1 - highest 5):
            <select name="realistic_score" id="realistic_score" required>
              <option value="">--Please choose an option--</option>
              <option value="1" {{"selected" if labeled_data["realistic_score"] == "1" else ""}}>1</option>
              <option value="2" {{"selected" if labeled_data["realistic_score"] == "2" else ""}}>2</option>
              <option value="3" {{"selected" if labeled_data["realistic_score"] == "3" else ""}}>3</option>
              <option value="4" {{"selected" if labeled_data["realistic_score"] == "4" else ""}}>4</option>
              <option value="5" {{"selected" if labeled_data["realistic_score"] == "5" else ""}}>5</option>
            </select>
          </label>
          <label style="margin: 10px; display: block"
            >Overall Image Aesthetic Score (lowest 1 - highest 5):
            <select name="aesthetic_score" id="aesthetic_score" required>
              <option value="">--Please choose an option--</option>
              <option value="1" {{"selected" if labeled_data["aesthetic_score"] == "1" else ""}}>1</option>
              <option value="2" {{"selected" if labeled_data["aesthetic_score"] == "2" else ""}}>2</option>
              <option value="3" {{"selected" if labeled_data["aesthetic_score"] == "3" else ""}}>3</option>
              <option value="4" {{"selected" if labeled_data["aesthetic_score"] == "4" else ""}}>4</option>
              <option value="5" {{"selected" if labeled_data["aesthetic_score"] == "5" else ""}}>5</option>
            </select>
          </label>
          <input
            type="hidden"
            id="current-image-index"
            name="current_image_index"
            value="{{current_image_index}}"
          />
          <div style="margin-top: 10px; margin-bottom: 10px; margin-left: 10px">
            <input type="submit" value="Save and Next" style="padding: 10px" />
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
